<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common Navbar</title>
    <!-- Your CSS and other head elements can go here -->
</head>
<body>
    <!-- Include your partial within the body -->
    {{> partials/_header}}

    <div class="header">
        <h1 class="name">ACCOUNT MANAGER</h1>
    </div>

    <!-- Your other HTML content goes here -->
    <h1>dashboard</h1>

    <!-- Your scripts and other body elements can go here -->
</body>
</html>
